[submodule ".registry"]
	path = .registry
	url = https://github.com/eric-hunt/eric-hunt.r-universe.dev
	branch = HEAD
[submodule "embark.rstheme"]
	path = embark.rstheme
	url = https://github.com/eric-hunt/embark.rstheme
[submodule "fragr"]
	path = fragr
	url = https://github.com/eric-hunt/fragr
[submodule "hRvstAPI"]
	path = hRvstAPI
	url = https://github.com/eric-hunt/hRvstAPI
[submodule "htce"]
	path = htce
	url = https://github.com/eric-hunt/htce
[submodule "uncleR"]
	path = uncleR
	url = https://github.com/eric-hunt/uncleR
